@page "{id:int?}"
@model TuNhanTamTinhRazorPage.Pages.Foods.DetailsModel

@{
    ViewData["Title"] = "Chi Tiết";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Đồ Ăn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.FoodName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.FoodName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.ManufacturingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.ManufacturingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Food.Id">Sửa</a> |
    <a asp-page="./Index">Quay Lại Danh Sách</a>
</div>
