@page "{searchString?}"
@model TuNhanTamTinh.Pages.Foods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        <select asp-for="FoodManufacturer" asp-items="Model.Manufacturers">
            <option value="">All</option>
        </select>
        <label>Title: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].ManufacturingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
